@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Bebas Neue", sans-serif;
    background-image: url('./images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
}

.container{
    display: flex;
    color: white;
    height: 100%;
    width: 50%;
    flex-direction: column;
    align-items: center;
}

.container a{
    color: white;

}

.title{
    margin-top: 25%;
    height: 35%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title>img{
    height: 75%;
}

.title>h1{
    font-size: 15rem;
}

.container>p{
    margin-top: auto;
}

form{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: white;
}

form>.inputs{
    padding-left: 20px;
    margin-top: 25%;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    width: 100%;
    height: 35%;
}

.inputs>h1{
    position: fixed;
    margin-top: -70px;
    font-size: 50px;
}

.inputs span{
    color: red;
}

fieldset{
    border: none;
    margin-top: 20px;
    display: flex;
}

.input-container{
    margin-right: 20px;
}

.input-container>label{
    display: block;
    font-size: 25px;
}

.input-container>input{
    width: 250px;
    height: 30px;
    border: 0.5px solid black;
    outline: none;
    padding: 0px 10px;
    border-radius: 5px;
}

button[type="submit"]{
    margin-left: 20px;
    margin-top: 31.5%;
    position: fixed;
    font-family: inherit;
    font-size: 20px;
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #0077b6;
    color: #ffffff;
}

button[type="submit"]:hover{
    cursor: pointer;
    background-color: #006399;
}

button[type="submit"]:active{
    background-color: #014970;
}

form>p{
    font-size: 20px;
    position: fixed;
    margin-left: 20px;
    margin-top: 34.5%;
}

form a{
    color: #0077b6;
    text-decoration: none;
}

input:focus{
    border: 2px solid #0077b6;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
}

input[type="password"]:invalid{
    border: 1px solid red;
}